@import url(tabla.css);
@import url(elementos-js.css);

body {
margin: 0px;
padding: 0;
background: #FFFFFF;
background: url(../img/logos/FondoSevius.gif) #ffffff no-repeat top left ;
font: normal 0.8em "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #777777;
width: 100%;
}

h1, h2, h3 {
	color: #666666;
}

h2 {
	font-size: 1.2em;
}

h3 {
	margin: 0;
	font-size: .875em;
}

h2#subtitulo {
	text-transform: uppercase;
}

p, blockquote, ul, ol {
	margin-top: 0;
	line-height: 180%;
	text-align: justify;
}

a {
	color: #A32638;
}

a:hover {
	text-decoration: none;
	color: #FF6000;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Cabecera */

#cabecera {
	width: 90%;
	height: 100px;
	margin: 30px auto 0 auto;
}

/* Logo */

#logo {
	float: left;
}

#logo #imagen {
  float: left;
}

#logo #titulologo {
  padding-top: 40px;
  float: left;
}

#logo h1 {
	margin: 0;
	padding: 0;
	text-transform: none;
	font-size: 36px;
}

#logo h2 {
	margin: -5px 0 0 3px;
	padding: 0;
	font-size: 11px;
	font-weight: normal;
}

#logo a {
	text-decoration: none;
	color: #A32638;
}

/* Menu */

#menu {
	float: right;
	padding: 20px 0 0 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
  text-align: center;
  text-transform: lowercase;
}

#menu a {
	display: block;
	float: left;
	height: 17px;
	padding: 0 17px 0 19px;
	text-decoration: none;
	color: #A32638;
}

#menu a:hover {
	color: #FF6000;
}

#menu .first a {
	background: none;
}

#contenido {
	width: 90%;
  padding: 1em 2em 0 5em;
	margin: 0 auto 0 auto;
}

#pie {
  border-top: 1px solid #e0e0e0;
	width: 60%;
	margin: 4em auto 0 auto;
	padding: 10px 0 50px 65px;
  text-align: center;
}

#version_consigna {
  text-align: center;
  font-family: monospace;
}


/* Formularios */

label {
  font-weight: bold;
  display: block;
  margin: 5px 0 5px 0;
}

input[type="text"],
input[type="password"],
textarea {
  font-family: Monaco, DejaVu Sans Mono, Consolas, monospace;
  border: 1px solid #e0e0e0;
  margin-bottom: 1em;
  background-color: #ffffff;
}

textarea {
  font-size: 90%;
}

input[type="submit"] {
  margin-left: 1em;
}

input.passwd {
  padding: 2px 2px 2px 22px;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(../img/interfaz/form-passwd.png);
}

input.usuario {
  padding: 2px 2px 2px 22px;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(../img/interfaz/form-usuario.png);
}

fieldset {
  border: 1px solid #d0d0d0;
  padding: 1em;
  margin: 1em;
  width: 80%;
  background: url(../img/fondos/fieldset.png) #fefefe top left repeat-x;
}

legend {
  font-weight: bold;
  font-size: 110%;
	color: #A32638;
}

div.opciones_radio {
  margin: 1em;
}

div.form_descripcion {
  font-style: italic;
  padding-left: 0.5em;
  margin-bottom: 1em;
}


fieldset.enrollable {
  border-width: 2px 0 0 0;
  margin-bottom: 2em;
}

fieldset.enrollable legend {
  padding-left: 15px;
  background: url(../img/interfaz/enrollado.png) 5px 50% no-repeat;
  _cursor: hand;
  cursor: pointer;
  font-weight: bold;
}

fieldset.desplegado legend {
  background: url(../img/interfaz/desplegado.png) 5px 50% no-repeat;
}

fieldset.desplegado {
  border-width: 2px !important;
}

fieldset.enrollado .contenido_enrollado {
  display: none;
}



#aviso {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #f3f3f3;
  background-color: #f8f8f8;
  text-align: center;
}


#listado-ficheros {
  width: 90%;
  margin: 0 auto 0 auto;
}

#listado-ficheros tbody td img {
  vertical-align: middle;
  margin-right: 0.2em;
}

#listado-ficheros tr.denegado td {
  color: #aaaaaa;
}

.fichero_propio {
  padding: 2px 10px 2px 0;
  background: url(../img/interfaz/fichero_propio.png) transparent center right no-repeat;
}

div#datos_autenticado {
  font-size: 90%;
  background-color: #f0f0f0;
  color: #000000;
  padding: 0.3em 1em;
  text-align: right;
}

span.usuario {
  padding-left: 21px;
  background: url(../img/interfaz/form-usuario.png) transparent left center no-repeat;
  font-family: "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-style: italic;
}

div.cuadro {
  padding: 0.5em;
}

div.error {
  color: #ffffff;
  border: 1px solid #ddb3b3;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 10px;
  background: url(../img/interfaz/error.png) #FF4444 10px center no-repeat;
}

div.ok {
  color: #f0f0f0;
  border: 1px solid #95c370;
  font-weight: bold;
  padding-left: 40px;
  background: url(../img/interfaz/error.png) #68c81b 10px center no-repeat;
}


div.descarga_fichero {
  text-align: center;
}

div.descarga_fichero a {
  text-decoration: none;
}

span.nombre_fichero {
  font-size: 140%;
}

div.ficha_fichero {
  width: 90%;
}

div.ficha_fichero ul {
  list-style: none;
}

div.ficha_fichero ul li img {
  margin-right: 0.5em;
  vertical-align: middle;
}

div.ficha_fichero .descripcion_fichero {
  margin: 1em auto 0 auto;
  width: 80%;
  font-family: Monaco, DejaVu Sans Mono, Consolas, monospace;
  font-size: 90%;
  white-space: pre;
}

#cuadro_password_fichero {
  width: 250px;
  background-color: #f2f3ff;
  border: 1px solid #7f87ff;
  text-align: center;
  padding: 0.5em;
  margin: 10px auto 10px auto;
  -moz-border-radius: 5px;
}

.lista-permisos {
  list-style: none;
  margin-top: 1em;
}

#contenido p {
  width: 55em;
}

.centrar_ayuda {
  margin: 20px auto;
}

img.centrar_ayuda {
  display: block;
}

.dircorreo {
  padding-right: 20px;
  background: transparent url(../img/interfaz/email.png) top right no-repeat;
}

/*
 * Paginacion
 */

#paginacion {
  margin-top: 2em;
  text-align: center;
}

#paginacion a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding:2px 5px;
  background: #A33948;
  border:1px solid #A32638;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}
#paginacion a:hover {
  background-color: #A32638;
}

#paginacion_actual {
  font-weight: bold;
  margin-left: 2px;
  padding:2px 5px;
}

#cuadro_busqueda {
  margin-left: 2em;
  text-align: right;
}

#cuadro_busqueda .textobusqueda {
  padding: 2px 2px 2px 22px;
  background-position: center left;
  background-repeat: no-repeat;
  background-image: url(../img/interfaz/buscar.png);
}

.icono_oculto {
  clear: both;
  float: right;
}

.sin-ficheros {
  text-align: center;
}

#sourcecode {
  padding: 0 0 5px 20px;
  background: transparent url(../img/interfaz/source.png) top left no-repeat;
}

.operaciones_fichero {
  float: right;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 5px;
  width: 150px;
  padding: 10px;
}

.expiracion_mini {
  float: right;
  clear: both;
  font-size: 90%;
  color: blue;
  padding: 1px 0px 1px 10px;
  background: url(../img/interfaz/mini-expiracion.png) transparent center left no-repeat;
}

.tamtotal {
  float: right;
  clear: right;
  font-weight: bold;
  margin-right: 5em;
  margin-bottom: 1em;
  padding: 1em 1em 1em 20px;
  background: url(../img/interfaz/disco.png) transparent center left no-repeat;
}
